---
description:
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .logo {
    width: 16vmax;
    height: 16vmax;
    margin: 0 auto 2rem;
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
</style>
<header class="tdbc-hero">
  <div class="tdbc-container">
    <span class="logo">
<svg viewBox="0 0 152 152.005">

  <g id="M">
    <path fill="#f9f9f9" stroke="#171392" stroke-width="2" d="M1 101h50v50H1z" />
    <path fill="#171392" d="M24.596 139.326L15.555 115.7h-.146q.255 2.807.255 6.671v16.954h-2.862v-26.652h4.667l8.44 21.985h.146l8.513-21.985h4.63v26.652h-3.099v-17.172q0-2.953.255-6.417h-.146l-9.114 23.589z" />
  </g>

  <g id="D">
    <path fill="#f9f9f9" stroke="#171392" stroke-width="2" d="M101 101h50v50h-50z" />
    <path fill="#171392" d="M136.637 125.745q0 6.599-3.591 10.099-3.573 3.482-10.3 3.482h-7.383v-26.652h8.167q6.216 0 9.661 3.446 3.446 3.445 3.446 9.625zm-3.282.11q0-5.214-2.625-7.858-2.606-2.643-7.765-2.643h-4.503v21.292h3.774q5.541 0 8.33-2.716 2.79-2.735 2.79-8.076z" />
  </g>

  <g id="F">
    <path fill="#f9f9f9" stroke="#171392" stroke-width="2" d="M51 1h50v50H51z" />
    <path fill="#1a1392" d="M71.67 39.326h-3.098V12.674h14.856v2.753H71.671v9.753h11.046v2.752H71.671z" />
  </g>

  <g id="O">
    <path fill="#f9f9f9" stroke="#171392" stroke-width="2" d="M51 51h50v50H51z" />
    <path fill="#171392" d="M88.26 75.99q0 6.4-3.246 10.063-3.226 3.664-8.987 3.664-5.888 0-9.096-3.59-3.19-3.61-3.19-10.173 0-6.507 3.208-10.08 3.209-3.591 9.115-3.591 5.742 0 8.969 3.645 3.226 3.646 3.226 10.063zm-21.238 0q0 5.415 2.297 8.222 2.315 2.79 6.708 2.79 4.43 0 6.69-2.79 2.26-2.789 2.26-8.221 0-5.378-2.26-8.149-2.242-2.789-6.653-2.789-4.43 0-6.745 2.808-2.297 2.789-2.297 8.13z" />
  </g>

  <g id="R1">
    <path fill="#f9f9f9" stroke="#171392" stroke-width="2" d="M1 51h50v50H1z" />
    <path fill="#171392" d="M19.71 78.242v11.084h-3.098V62.674h7.31q4.904 0 7.237 1.878 2.351 1.878 2.351 5.651 0 5.287-5.359 7.146l7.237 11.977h-3.664l-6.453-11.084zm0-2.661h4.248q3.282 0 4.813-1.295 1.531-1.312 1.531-3.919 0-2.643-1.568-3.81-1.55-1.166-4.994-1.166h-4.03z" />
  </g>

  <g id="R2">
    <path fill="#f9f9f9" stroke="#171392" stroke-width="2" d="M101 51h50v50h-50z" />
    <path fill="#171392" d="M119.71 78.242v11.084h-3.098V62.674h7.31q4.904 0 7.237 1.878 2.351 1.878 2.351 5.651 0 5.287-5.359 7.146l7.237 11.977h-3.664l-6.453-11.084zm0-2.661h4.248q3.282 0 4.813-1.295 1.531-1.312 1.531-3.919 0-2.643-1.568-3.81-1.55-1.166-4.994-1.166h-4.03z" />
  </g>

  <g id="E1">
    <path fill="#f9f9f9" stroke="#171392" stroke-width="2" d="M1 1h50v50H1z" />
    <path fill="#171392" d="M33.428 39.326H18.572V12.674h14.856v2.753H21.671v8.586h11.046v2.734H21.671v9.808h11.757z" />
  </g>

  <g id="E2">
    <path fill="#f9f9f9" stroke="#171392" stroke-width="1.989" d="M51.544 101H101v50.011H51.544z" />
    <path fill="#171392" d="M83.7 139.33H68.845v-26.65H83.7v2.752H71.943v8.586H82.99v2.735H71.943v9.807H83.7z" />
  </g>

</svg>
    </span>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <style>
    #quickstart + ol li:first-child,
    #quickstart + ol li:first-child p {
      font-size: 1.5rem;
    }
  </style>

<h2 id="quickstart" class="tdbc-h3 tdbc-mt-lg">A TRANSLATION & CONTENT WRITING SERVICE</h2>
<p>If your message is not expressed clearly, it may never reach the desired audience.

Let us look after the presentation of the idea so you can achieve the success that your work deserves.

We offer a personal service, allowing us to develop an understanding of your needs and to build a strategy to reach the desired goal. We tailor our plan depending on the project, providing an appropriate style and tone for each client.

We offer services of translation from Portuguese to English, and English content (re)writing of websites, blog posts, documentation, academic papers, leaflets, flyers, brochures and much more …

We guarantee quality and confidentiality at an affordable price.  

</p>


<h3 class="tdbc-h4">WHAT YOU GET: A COMPLETE SERVICE</h3>

<p>An initial consultation where we fully review your request, come to an understanding about your requirements, outline ideas for improvement, and possibly point out areas not yet examined. We consider each client individually and provide a personalized plan.
</p>
<p>
Depending on the service you require we organize things as follows:
</p>

- Initial free consultation to assess current status and requirements.

- Discussion of working methods, confidentiality and security.

- Determination of realistic deadlines and outcome.

- Arrangement for updates, collaboration and reviews.

- Agreement on fees — reliant on customer satisfaction and prompt delivery.

- Customer feedback and review.

- Ongoing support.

<h3 class="tdbc-h4">HOW IT WORKS: A PERSONAL CONTACT</h3>

None of the work is outsourced, we will collaborate with you wherever possible, and we listen to your input.

We can meet in person or by phone (whichever you prefer) for an initial consultation.

Then we get to work.

We regularly update you on our progress, queries and suggestions, and we welcome your feedback.

We present you with the completed work, which you can take your time to review.

We are available for follow-up questions in person, via phone and e-mail.

<h3 class="tdbc-h4">WHAT IT COSTS</h3>

Costs will depend on the service required, but we guarantee a competitive price. After our initial contact we will quote you a fee with no hidden extras.

We stand by our work. If you are unhappy with our service, then you don’t have to pay.

<h3 class="tdbc-h4">GETTING STARTED</h3>

If you’re ready to get started, or have any questions, please contact us using the form below. We will only use your e-mail to reply to you.

{{ content | safe }}

</main>
<script>
tl = gsap.timeline();
tl.to("#F", { x: 50 })
  .to("#E1", { x: 50 })
  .to("#R1", { y: -50 })
  .to("#M", { y: -50 })
  .to("#E2", { x: -50 })
  .to("#D", { x: -50 })
  .to("#R2", { y: 50 })
  .to("#O", { x: 50 })
  .to("#M", { x: 50 })
  .to("#E2", { y: -50 })
  .to("#D", { x: -100 })
  .to("#R2", { x: -50 })
  .to("#O", { y: 50 })
  .to("#M", { x: 100 })
  .to("#R2", { y: 0 })
  .to("#O", { x: 0 })
  .to("#M", { y: 0 })
  .to("#R2", { x: 0 })
  .to("#O", { y: 0 })
  .to("#D", { x: -50 })
  .to("#E2", { y: 0 })
  .to("#O", { x: -50 })
  .to("#R2", { x: -50 })
  .to("#M", { y: -50 })
</script>